{% extends 'index.html' %}
{% load widget_tweaks %}
{% block title %}Zamykanie zlecenia{% endblock %}

{% block content %}
{{ error }}
<div class="container text-center col-4">
    <h4>Zamykanie zlecenia</h4>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {% render_field form.realization|add_class:"form-control" min="0"  placeholder="Wpisz jaką ilość zrealizowano" %}
        </div>
        <div class="form-group">
            {% render_field form.waste|add_class:"form-control" min="0" placeholder="Wpisz ilość odpadów" %}
        </div>


        <button type="submit" class="btn btn-dark" name="close_r">Zamknij realizację</button>
        <button type="submit" class="btn btn-danger" name="close_o">Zamknij realizację i zlecenie</button>
    </form>


</div>

{% endblock %}
