{% load static %}
{% load widget_tweaks %}

<!doctype html>

<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="{% static 'alert_interruptions.js' %}"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {%  block custom_js %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    {% if user.is_authenticated %}
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Zlecenia w trakcie</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'orders_tt' %}">Zlecenia dostępne</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'add_order' %}">Dodaj zlecenie</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'list_positions' %}">Edytuj obasdę</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'close_order' %}">Zamknij zlecenie</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'interruptions' %}">Przestoje</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'change_save' %}">Zmień sposób zapisywania</a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                {{ user.username }}
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'logout' %}">Wyloguj się</a>
            </div>
        </li>
    </ul>
    {% else %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'login' %}">Zaloguj się</a>
        </li>
    </ul>
    {% endif %}
</nav>

<div class="container">
  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="alertbtn" style="display:none;">
  </button>

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Przestoje!</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          Wykryto przestój dłuższy niż 10 minut!
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <a href="{% url 'interruptions' %}"><button type="button" class="btn btn-primary">Przejdź do przestojów</button></a>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>
        </div>

      </div>
    </div>
  </div>
<p>{{ sess }}</p>
</div>

{% block content %}

<div class="container">
  <h4 class="text-center">Twoje realizacje</h4>
  <ul class="list-group list-group-flush">
      {% if realizations %}
      {% for realization in realizations %}
      <li class="list-group-item">Realizacja nr {{ realization.pk }} do zlecenia nr {{ realization.order.order_id }}, na maszynie {{ realization.order.machine }} {% if not realization.is_cast %}<a href="{% url 'edit_realization' pk=realization.pk %}"><button type="button" class="btn btn-dark">Edytuj obsadę</button></a>{% endif %} <a href="{% url 'close' pk=realization.pk %}"><button type="button" class="btn btn-danger">Zamknij realizację</button></a></li>
      {% endfor %}
      {% else %}
            <li class="list-group-item">Brak aktywnych realizacji</li>
      {% endif %}
  </ul>
</div>
{% endblock %}
</body>
</html>
