{% extends 'index.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <h4 class="text-center">Edycja obsady</h4>
    {% if error %}
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Warning!</strong> {{ error }}
    </div>
    {% endif %}
</div>

<div class="container">
    {% if realizations %}
        {% for realization in realizations %}
         <div class="container">
             <ul class="list-group list-group-flush">
                 <li class="list-group-item">Realizacja nr {{ realization.pk }} do zlecenia {{ realization.order.order_id }}<a href="{% url 'edit_realization' pk=realization.pk %}"><button type="submit" class="btn btn-dark">Edytuj obsadę</button></a></li>
             </ul>
         </div>
        {% endfor %}
    {% else %}
    <ul class="list-group list-group-flush">
    <li class="list-group-item">Brak realizacji</li>
    </ul>
    {% endif %}
</div>

{% endblock %}
