{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Login{% endblock %}

{%  block custom_js %}
    <script src="{% static 'select_emps.js' %}"></script>
{%  endblock %}

{% block content %}

<div class="container text-center col-4">
    <h4>Edycja obsady</h4>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <h4>Zlecenie nr</h4>
            <input type="number" class="form-control" value="{{ realization.order.order_id }}" disabled>
        </div>
    <div class="form-group">
        <h4>Maszyna</h4>
            <input class="form-control" value="{{ realization.order.machine.name }}" disabled>
        </div>
        <div class="form-group">
        <h4>Zapisane obsadzenie</h4>
            <ul class="list-group list-group-flush">
                {% for realization in avalible_realizations %}
                    <li class="list-group-item">{{ realization.start_date }} - {{ realization.stop_date }} na stanowisku {{ realization.position }} pracownik {{ realization.employee.first_name }} {{ realization.employee.last_name }}</li>
                {% endfor %}
            </ul>
        </div>

              Początek pracy:
              <input type="datetime-local" class="form-control" name="start" placeholder="Start pracy">
              Koniec pracy:
              <input type="datetime-local" class="form-control" name="stop" placeholder="Koniec pracy">
              <h4>Stanowiska</h4>
              {% for position in positions %}
                  <div class="form-group">
                  <h6>{{ position }}</h6>
                  <select class="form-control slc" name="{{ position }}" placeholder="Wybierz pracownika">
                  <option value="-1">----</option>
                      {% for employee in employees %}
                          <option value="{{ employee.pk }}">{{ employee.first_name }} {{ employee.last_name }}</option>
                      {% endfor %}

                  </select>
                  </div>
              {% endfor %}

        <button type="submit" class="btn btn-dark">Dodaj obsadę</button>
    </form>

</div>

{% endblock %}
