{% extends 'index.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    {% if orders %}
        <div class="container">
             <ul class="list-group list-group-flush">
                 {% for order in orders %}
                 <li class="list-group-item">Zlecenie nr {{ order.order_id }} <a href="{% url 'close_detail' pk=order.pk %}"><button type="submit" class="btn btn-dark">Zamknij zlecenie</button></a></li>
                 {% endfor %}
                 </ul>
         </div>
    {% else %}
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Brak zleceń</li>
        </ul>
    {% endif %}
</div>
{% endblock %}
