{% extends 'index.html' %}
{% load widget_tweaks %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="container text-center col-4">
    <h4>Dodawanie zlecenia</h4>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="number" class="form-control" placeholder="Wpisz numer zlecenia" name="order_id">
        </div>
        <div class="form-group">
              <select class="form-control" id="sel1" name="machine" placeholder="Wybierz maszynę">
                  <option>----</option>
                  {% for machine in machines %}
                    <option value="{{ machine.name }}">{{ machine.name }}</option>
                  {% endfor %}
              </select>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" placeholder="Wpisz planowe wykonanie" name="planned" min="0">
        </div>

        <button type="submit" class="btn btn-dark">Dodaj zlecenie</button>
    </form>


</div>

{% endblock %}
